@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url('../../../assets/msyi.ttf');
}

/* CSS Reset */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* look into what this code below is used for **may be a simple css reset */
* {
  margin: 0;
  padding: 0;
  outline: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body{
  margin :0 auto;
  background-image: url("../../../assets/vaughnPaulgerBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
  font-family: 'PlayfairDisplay-Regular';
}

header{
  // height: 170px;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;

  #headerBlock {
    width: 100%;
    height: 22px; 
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    margin-bottom: 17px;
  }
}

#vaughnPaulgerLogo{
  width: 600px;
  // align-self: center;
  // height: auto;
  // display: block;
  // margin: auto;
}

header h1{
  color: white;
  font-family: 'PlayfairDisplay-Regular';
  font-size: 24px;
  margin-top: -17px;
  font-weight: bold;
  text-align: center;
}

header a{
  text-decoration: none;
}

.navigation{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 5;
  margin-top: 24px;
  align-self: flex-end;
  height: 22px;
  
  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    text-shadow: 2px 2px #000000;
    /* text-decoration: underline rgba(0, 89, 255, 0.726); */
  }
}

.navigation li:hover{
  /* background-color: rgba(0, 89, 255, 0.726); */
  border: 1px solid white;
  /* background-color: white;     */
}

.navigation li{
  width: 198px;
  /* text-align: center; */
  display: inline-block;
  color: white;
  height: 20px;
  font-family: 'PlayfairDisplay-Regular';
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  text-shadow: 2px 2px #000000;
}

.testNav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 5;
  height: 22px;
}

.testNav li {
  /* margin: 0 auto; */
  width: 198px;
  text-align: center;
  display: inline-block;
  height: 20px;
  color: white;
  font-family: 'PlayfairDisplay-Regular';
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  text-shadow: 2px 2px #000000;

  &:hover{
    border: 1px solid white;
  }
}

.navigation a:hover{
  /*color: rgba(0, 89, 255, 0.726);*/
  /* text-decoration: underline rgba(0, 89, 255, 0.726); */
  /* color: black; */
}

.fab{
  color: white;
  /*color: rgba(0, 89, 255, 0.726);*/
  margin-right: 5%
  
}

#flexboxWrapper{
  margin-top: 160px;
  width: 100%;
  height: 70%;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#aboutSection{
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* margin-top: 5%; */

  p{
    font-family: 'Roboto Condensed', sans-serif;
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* color: black; */
    color: white;
    font-size: 22px;
    margin: 80px 40px;
    line-height: 1.5;
    text-shadow: 2px 2px #000000;
  }
}

#aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#selfPortrait{
  height: 350px;
  width: auto;
  margin: 80px 40px;
  box-shadow: 2px 2px #000000;
}

/*experience section*/
#experienceSection{
  background-color: rgba(0, 0, 0, 0.5);
  /* background-color: rgba(255, 255, 255, 0.5); */
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
}

.experienceContainer {
  // display: flex;
  // width: 100%;
  // align-items: flex-start;
  // justify-content: space-evenly;
  width: 90%;
  // height: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.secondNavigation {
  position: relative; 
  margin-top: 0px;
  z-index: 5;
  display: block;
  margin: 0 auto;
  justify-content: center;

  li {
    width: 180px;
  }
} 

.experienceBlocks{
  // display: flex;
  // justify-content: center;
  text-align: center;
  width: 25%;
  // width: 100px;
  // height: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  // background-color: blue;

  a {
    width: 100%;
  }

  img{
    width: 75%;
    height: 100%;
    border: 2px solid #0066ff;
  }

  p{
    font-style: italic;
    font-weight: 500;
    text-shadow: 2px 2px #000000;
  }

  h3 {
    margin: 10px;
    font-size: 2rem;
    font-weight: 500;
    text-shadow: 2px 2px #000000;
  }
}

.image1 {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.image1 span{
  position: absolute;
  width: 75%;
  height: 100%;

  &:nth-child(1) {
    transform:rotate(0deg);
    left: -25.2%;
    top: -2px;
  }

  &:nth-child(2) {
    transform:rotate(90deg);
    top: -50%;
    margin-left: 2.5px;
  }

  &:nth-child(3) {
    transform:rotate(180deg);
    left: 50.5%;
    margin-top: 2px;
  }

  &:nth-child(4) {
    transform:rotate(270deg);
    top: 50%;
    margin-left: -2.5px;
  }

  &:before {
    content: '';
    position: absolute;
    width: 101%;
    height: 2px;
    background: #4C94FF;
    animation: animate 12s linear infinite;
  }
}

@keyframes animate {
  0% {
  transform:scaleX(0);
  transform-origin: left;
  }

  50% {
  transform:scaleX(1);
  transform-origin: left;
  }

  50.1% {
  transform:scaleX(1);
  transform-origin: right;
  }
  
  100% {
  transform:scaleX(0);
  transform-origin: right;
  }  
} 

.slick-dots li button {
  color: white;
}

.slick-next {
  color: white;
}

.testCarousel{
  display: inline-block;

  div {
    width: 100px;
    height: 100px;
    background-color: white;
  }
}

/*contact section*/
#contactSection{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  /* height: 120%; */

  p {
    color: white;
    font-size: 1.5rem;
    margin-top: 40px;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px #000000;
    padding: 10px;
  }
}

#contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form{
  width: 400px;
  /* margin: 80px 40px; */
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  color: white;
}

.contactInput{
  width: 100%;
  padding: 8px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#notesTextArea{
  height: 50px;
}

#contactSubmitButton{
  margin-top: 20px;
  border-radius: 25px;
  display: block;
  font-weight: 700;
  width: 220px;
  padding: 12px 20px;
  cursor: pointer;
  border: 1px solid white;
  background-color: #0066ff;
  color: white;

  &:hover {
    background-color: rgba(0,102,255, 0.5); 
  }
}


footer{
  width: 100%;
  height: 10%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}


//mobile media query
@media only screen and (max-width: 600px) {
  body {
    background-position: 50%;
  }
  #vaughnPaulgerLogo{
    // width: 400px;
    width: 95%;
    display: block;
    margin: 0 auto;
  }

  header h1 {
    margin-top: -5px;
  }

  .navigation {
    margin-top: 15px;
    height: 20px;
  
    li {
      width: 115px;
    }
  }

  .testNav li {
    width: 115px;
  }

  #aboutContainer {
    flex-direction: column;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 100%;
  
    #selfPortrait {
      height: 250px;
      margin-top: 40px;
      margin-bottom: 20px;
    }

    p {
      margin-top: 0;
      margin-bottom: 40px;
    }
  }

  form {
    width: 300px;
  }

  #contactSubmitButton {
    width: 180px;
  }
}



/*beginning of smoke animation styling*/
body {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes masked-animation {
  0% {
    background-position: left bottom;
  }
  100% {
    background-position: right bottom;
  }
}

.blink_me {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}

#wrap {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

#viewport {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#viewport .smoke {
  position: absolute;
  width: 250px;
  height: 250px;
  background: url('http://res.cloudinary.com/da51wkm4r/image/upload/v1461143297/title/smoke.png') no-repeat;
}

@-webkit-keyframes masked-animation {
  0% {
    background-position: left bottom;
  }
  100% {
    background-position: right bottom;
  }
}